html{height:100%;}
body{height:100%;overflow:hidden;}


body
{
    background-color: #333;
}

/*#layaContainer
{
    margin: 0 auto;
    width: 552px;
}*/

#layaCanvas
{
    /*border: 3px solid #333;*/
}